*:focus{
    outline: none;
}

.bar-box{

    height:2em;
    width: 80%;
    margin: auto;
}

.bar-box input {
    height: 50%;
    width: 25%;
    border:none;
    border-radius: 10px;
    text-align: center;
    background:none;
    color: #728186;
    font-weight: bold;
    margin-top:0.4em;

}
.bar-box p {
    height: 50%;
}

.box1{
    width:60%;
    flex-wrap: wrap;
    color: #093C5B;
}

.box2{
    max-width: 600px;
    min-width: 600px;
    display:flex;
    justify-content: center;
}

.button-box{
    width: 50%;
    margin:auto;
    text-align: center;
}

.btn-lg{
    background-color: #B6E2CA;
    width: 100%;
}

.calc-container {
    text-align:left;
    max-width: 450px;
    min-width: 400px;
    margin:1em;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
    background-color: #D7EAF1;
    border:2px solid 	#093C5B;
    border-bottom-width: 10px;
    color: #728186;
    font-weight: 600;

}

.combine {
    margin-left: 6em;
    margin-bottom: 1.2em;
}

.contact-bar{
    height: 30%;
    background-color: inherit;
}

.contact-box{
    display: grid;
    width: 70%;
    margin: 1.2em auto;
}
.coms-box{
    width: 70%;
    margin: 1.2em auto;
    font-size: 0.7em !important;
}

.contact-border {
    border-radius: 10px;
}

.contact-enter {
    width: 100%;
    padding: .5em;
}

.form-input-box {
    display:grid;
}

.form-input-box input {
    width: 90% !important;
}

.form-section {
    display: flex;
    height: auto;
    flex-direction: row;

}

.form-section-box{
    width: 33%;
    height:100%;
}

.form-title {
    margin-top: -75px;
    font-size: 1.3em;
    text-align: center;
    color: #093C5B;
}


.hide {
    display:none;
}


.left-links{
    margin-left:3em;
}

.main-section{
    height: 100%;
}

.mr-6 {
    margin-right: 6em
}

.nav-foot {
    height: 20%;
    background-color :#D7EAF1;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.payment-box {
    margin: 2em auto;
    width: 50%;
    text-align: center;
    padding: .5em;
    background-color: #B6E2CA;
    border-radius: 10px;
}

.right-links{
    margin-left:45.7em;
}

.slider-box{
    width: 100%;
}


.slider-value{ 
    margin-left: 8.5em
}


.switch-box{
    margin:auto;
    width: 70%
}

.text-box{
    height: 10em; 
}

.txt-loan-input{
    background: none;
    margin-top: 0.4em;
    color: #728186;
    margin-right: 1em;
    font-weight: bold;

}

.white-bar{
    background-color: white;
    height: 70%;
}

.white-bar a{
    color: #063E5D !important;
    font-weight: bold;
}

.whole-page{
    height: 40em;
}

.w-80 {
    width: 80% !important;   
}

